<!--A Design by Jatin Mahajan
Author: Jatin Mahajan
Author URL: soon to be updated
-->
<!DOCTYPE html>
<html>
<head>
<title>Jatin Website</title>
</head>
<body>
	<meta th:fragment="includes">

	<link th:href="@{/css/animsition.min.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css"></link>
	<link th:href="@{/css/flexslider.css}" rel="stylesheet" type="text/css"></link>
	<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/css/googleapi.css}" rel="stylesheet" type="text/css"></link>

	<link th:href="@{/css/heading.css}" rel="stylesheet" type="text/css"></link>

	<link th:href="@{/css/jquery.mCustomScrollbar.css}" rel="stylesheet"
		type="text/css"></link>

	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"></link>

	</meta>
	<meta th:fragment="scriptinclude">
	<!--//theme-style-->

	<script th:src="@{/js/jquery-1.10.2.min.js}"></script>
	<script th:src="@{/js/animsition.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
	<script th:src="@{/js/heading.js}"></script>
	<script th:src="@{/js/imagesloaded.js}"></script>
	<script th:src="@{/js/jquery.flexslider.js}"></script>

	<script th:src="@{/js/jquery.mCustomScrollbar.concat.min.js}"></script>

	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/masonry-3.1.4.js}"></script>
	<script th:src="@{/js/masonry.filter.js}"></script>

	</meta>
</body>
</html>